{% extends 'admin_template/base_template.html' %}
{% load static %}

{% block title %}Add Seller{% endblock %}

{% block custom_css %}
  <style media="screen">
    .error_msg
    {
      color: red;
    }
    .error_msg>ul
    {
      margin-bottom: 0px;
    }
  </style>
{% endblock %}

{% block page_body %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Seller Details</h1>
</div>

<div class="row">

  <div class="col-lg-12">

    <!-- Basic Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ seller.seller_id }}</h6>
      </div>
      <div class="card-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-8">
              <div class="form-group">
                <label for="seller_title" class="mentetory">Seller Title</label>
                <input type="text" class="form-control" id="seller_title" placeholder="Seller Title" value="{{ seller.seller_title }}" readonly>
              </div>
              <div class="form-group">
                <label for="seller_name" class="mentetory">Seller Name</label>
                <input type="text" class="form-control" id="seller_name" placeholder="Seller Name" value="{{ seller.seller_name }}" readonly>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="seller_email_id" class="mentetory">Seller Email Id</label>
                  <input type="email" class="form-control" id="seller_email_id" placeholder="Email Id" value="{{ seller.seller_email_id }}" readonly>
                </div>
                <div class="form-group col-md-6">
                  <label for="seller_ph_no" class="mentetory">Seller Phone no</label>
                  <input type="text" class="form-control" id="seller_ph_no" placeholder="Phone No" value="{{ seller.seller_phone_no }}" readonly>
                </div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <img src="{% static 'site_image/135x180.png' %}" style="width: 135px; height:180px;" alt="">
            </div>
            <div class="form-group col-md-12">
              <label for="seller_address">Seller Address</label>
              <textarea class="form-control" id="seller_address" rows="5" readonly>{{ seller.seller_address }}</textarea>
            </div>
            <div class="form-group col-md-12">
              <label for="seller_specufication">Seller Specification</label>
              <input type="text" class="form-control" id="seller_specufication" placeholder="Seller specification" value="{{ seller.seller_specification }}" readonly>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="gst_no" class="mentetory">GST No.</label>
              <input type="text" class="form-control" id="gst_no" placeholder="GST NO." value="{{ seller.seller_gst_no }}" readonly>
            </div>
            <div class="form-group col-md-4">
              <label for="aadhaar" class="mentetory">Aadhaar No</label>
              <input type="text" class="form-control" id="aadhaar" placeholder="Aadhaar No." value="{{ seller.seller_aadhaar_no }}" readonly>
            </div>
            <div class="form-group col-md-4">
              <label for="voter_no" class="mentetory">Voter Card No</label>
              <input type="text" class="form-control" id="voter_no" placeholder="Voter No." value="{{ seller.seller_voter_no }}" readonly>
            </div>
            <div class="form-group col-md-4">
              <img src="{% static 'site_image/135x180.png' %}" style="width: 135px; height:180px;" alt="">
            </div>
            <div class="form-group col-md-4">
              <img src="{% static 'site_image/135x180.png' %}" style="width: 135px; height:180px;" alt="">
              <img src="{% static 'site_image/135x180.png' %}" style="width: 135px; height:180px;" alt="">
            </div>
            <div class="form-group col-md-4">
              <img src="{% static 'site_image/135x180.png' %}" style="width: 135px; height:180px;" alt="">
              <img src="{% static 'site_image/135x180.png' %}" style="width: 135px; height:180px;" alt="">
            </div>
          </div>
          <!-- <div class="form-row">
            <div class="form-group col-md-7">
              <label for="aadhaar" class="mentetory">Aadhaar No</label>
              <input type="text" class="form-control" id="aadhaar" placeholder="Aadhaar No." value="{{ seller.seller_aadhaar_no }}" readonly>
            </div>
            <div class="form-group col-md-4">
              <img src="{% static 'site_image/135x180.png' %}" style="width: 135px; height:180px;" alt="">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-7">
              <label for="voter_no" class="mentetory">Voter Card No</label>
              <input type="text" class="form-control" id="voter_no" placeholder="Voter No." value="{{ seller.seller_voter_no }}" readonly>
            </div>
            <div class="form-group col-md-4">
              <img src="{% static 'site_image/135x180.png' %}" style="width: 135px; height:180px;" alt="">
            </div>

          </div> -->
          <!-- <button type="submit" class="btn btn-success btn-lg" style="width: 180px">Submit</button> -->
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block custom_js %}{% endblock %}
