{% extends 'admin_template/base_template.html' %}
{% load static %}

{% block title %}Add Seller{% endblock %}

{% block custom_css %}{% endblock %}

{% block page_body %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Seller Details</h1>
</div>

<div class="row">

  <div class="col-lg-12">

    <!-- Basic Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Seller Add</h6>
      </div>
      <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
          {% if form.errors %}
            {% for i in form %}
              <span>{{ i.errors }}</span>
            {% endfor %}
            <br />
          {% endif %}
          <div class="form-group">
            <label for="seller_title" class="mentetory">Seller Title</label>
            <input type="text" class="form-control" id="seller_title" placeholder="Seller Title">
          </div>
          <div class="form-group">
            <label for="seller_name" class="mentetory">Seller Name</label>
            <input type="text" class="form-control" id="seller_name" placeholder="Seller Name">
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="seller_email_id" class="mentetory">Seller Email Id</label>
              <input type="email" class="form-control" id="seller_email_id" placeholder="Email Id">
            </div>
            <div class="form-group col-md-4">
              <label for="seller_ph_no" class="mentetory">Seller Phone no</label>
              <input type="text" class="form-control" id="seller_ph_no" placeholder="Phone No">
            </div>
            <div class="form-group col-md-4">
              <label for="gender" class="mentetory">Seller Gender</label>
              <select id="gender" class="form-control">
                <option value="" selected>Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-7">
              <label for="gst_no" class="mentetory">GST No.</label>
              <input type="text" class="form-control" id="gst_no" placeholder="GST NO.">
            </div>
            <div class="form-group col-md-5">
              <label for="gst_img" class="mentetory">GST No Image</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="gst_img">
                <label class="custom-file-label" for="gst_img" data-browse="Browse">Upload GST Image</label>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-7">
              <label for="aadhaar" class="mentetory">Aadhaar No</label>
              <input type="text" class="form-control" id="aadhaar" placeholder="Aadhaar No.">
            </div>
            <div class="form-group col-md-5">
              <label for="aadhaar_img" class="mentetory">Aadhaar Card Image</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="aadhaar_img">
                <label class="custom-file-label" for="aadhaar_img" data-browse="Browse">Upload Aadhaar Image</label>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-7">
              <label for="voter_no" class="mentetory">Voter Card No</label>
              <input type="text" class="form-control" id="voter_no" placeholder="Voter No.">
            </div>
            <div class="form-group col-md-5">
              <label for="voter_img" class="mentetory">Voter Card Image</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="voter_img" multiple="multiple">
                <label class="custom-file-label" for="voter_img" data-browse="Browse">Upload Voter Image</label>
              </div>
            </div>
          </div>
          {% csrf_token %}
          <button type="submit" class="btn btn-success btn-lg" style="width: 180px">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block custom_js %}{% endblock %}
