{% extends 'admin_template/base_template.html' %}
{% load static %}

{% block title %}Products{% endblock %}

{% block custom_css %}{% endblock %}

{% block page_body %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Banner</h1>
</div>

<div class="row">

  <div class="col-lg-12">

    <!-- Basic Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Banner list &nbsp;
          <!-- <a href="{% url 'admin_login:seller:add_seller' %}" class="btn btn-primary btn-md"><i class="fas fa-store"></i> Add new seller</a> -->
        </h6>
      </div>
      <div class="card-body">
        <!-- <div class="form-row">
          <div class="form-group col-md-6">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">SELLER-</div>
              </div>
              <input type="text" class="form-control" id="search_number" placeholder="ID">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-search"></i></div>
              </div>
            </div>
          </div>
        </div> -->
        <div>
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        <div class="row">

          <div class="col-lg-12">

            <!-- Collapsable Card Example -->
            <div class="card shadow mb-4">
              <!-- Card Header - Accordion -->
              <a href="#home_page" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="home_page">
                <h6 class="m-0 font-weight-bold text-primary">Men banner</h6>
              </a>
              <!-- Card Content - Collapse -->
              <div class="collapse show" id="home_page">
                <div class="card-body">
                  <form method="POST" enctype="multipart/form-data">
                    <!-- <input type="hidden" name="banner_type" value="men_banner"> -->
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="men_banner_img" class="mentetory">Upload banner image (946px X 300px)</label>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" name="men_banner" id="men_banner_img" multiple="multiple">
                          {% csrf_token %}
                          <label class="custom-file-label" for="gst_img" data-browse="Browse">Upload Banner Image</label>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <br  />
                        <button type="submit" class="btn btn-secondary btn-sm">Upload Image</button>
                      </div>
                    </div>
                    <div class="form-row" id="men_upload_preview">
                      <!-- Image Preview -->
                    </div>
                  </form>
                  <div class="form-row">
                    {% if men_fashion_image %}
                      {% for men_image in men_fashion_image %}
                        <div class="form-group col-md-4">
                          <div class="card" style="width: 18rem;"> <!-- style="width: 18rem;" -->
                            <img class="card-img-top" style="height: 110px;" src="/media/{{ men_image.banner_image }}" alt="Card image cap">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <a href="javaScript:void(0);" class="btn btn-danger btn-icon-split">
                                    <span class="icon text-white-50">
                                      <i class="fas fa-trash"></i>
                                    </span>
                                    <span class="text">Delete this image</span>
                                  </a>
                                </div>
                                <br /><br />
                                <div class="col-md-12">
                                  <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="gst_img">
                                    <label class="custom-file-label" for="gst_img" data-browse="Browse">New Image</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    {% else %}
                      <span>No image found</span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <!-- Collapsable Card Example -->
            <div class="card shadow mb-4">
              <!-- Card Header - Accordion -->
              <a href="#women_section" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="women_section">
                <h6 class="m-0 font-weight-bold text-primary">Women banner</h6>
              </a>
              <!-- Card Content - Collapse -->
              <div class="collapse show" id="women_section">
                <div class="card-body">
                  <form method="POST" enctype="multipart/form-data">
                    <!-- <input type="hidden" name="banner_type" value="men_banner"> -->
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="women_banner_img" class="mentetory">Upload banner image (946px X 300px)</label>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" name="women_banner" id="women_banner_img" multiple="multiple">
                          {% csrf_token %}
                          <label class="custom-file-label" for="gst_img" data-browse="Browse">Upload Banner Image</label>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <br  />
                        <button type="submit" class="btn btn-secondary btn-sm">Upload Image</button>
                      </div>
                    </div>
                    <div class="form-row" id="women_upload_preview">
                      <!-- Image Preview -->
                    </div>
                  </form>
                  <div class="form-row">
                    {% if women_fashion_image %}
                      {% for women_image in women_fashion_image %}
                        <div class="form-group col-md-4">
                          <div class="card" style="width: 18rem;"> <!-- style="width: 18rem;" -->
                            <img class="card-img-top" style="height: 110px;" src="/media/{{ women_image.banner_image }}" alt="Card image cap">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <a href="javaScript:void(0);" class="btn btn-danger btn-icon-split">
                                    <span class="icon text-white-50">
                                      <i class="fas fa-trash"></i>
                                    </span>
                                    <span class="text">Delete this image</span>
                                  </a>
                                </div>
                                <br /><br />
                                <div class="col-md-12">
                                  <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="gst_img">
                                    <label class="custom-file-label" for="gst_img" data-browse="Browse">New Image</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    {% else %}
                      <span>No image found</span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <!-- Collapsable Card Example -->
            <div class="card shadow mb-4">
              <!-- Card Header - Accordion -->
              <a href="#babby_kid_section" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="babby_kid_section">
                <h6 class="m-0 font-weight-bold text-primary">Baby & Kids banner</h6>
              </a>
              <!-- Card Content - Collapse -->
              <div class="collapse show" id="babby_kid_section">
                <div class="card-body">
                  <form method="POST" enctype="multipart/form-data">
                    <!-- <input type="hidden" name="banner_type" value="men_banner"> -->
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="baby_kid_banner_img" class="mentetory">Upload banner image (946px X 300px)</label>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" name="baby_kid_banner" id="baby_kid_banner_img" multiple="multiple">
                          {% csrf_token %}
                          <label class="custom-file-label" for="gst_img" data-browse="Browse">Upload Banner Image</label>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <br  />
                        <button type="submit" class="btn btn-secondary btn-sm">Upload Image</button>
                      </div>
                    </div>
                    <div class="form-row" id="baby_kid_upload_preview">
                      <!-- Image Preview -->
                    </div>
                  </form>
                  <div class="form-row">
                    {% if baby_kid_fashion_image %}
                      {% for baby_kid_image in baby_kid_fashion_image %}
                        <div class="form-group col-md-4">
                          <div class="card" style="width: 18rem;"> <!-- style="width: 18rem;" -->
                            <img class="card-img-top" style="height: 110px;" src="/media/{{ baby_kid_image.banner_image }}" alt="Card image cap">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <a href="javaScript:void(0);" class="btn btn-danger btn-icon-split">
                                    <span class="icon text-white-50">
                                      <i class="fas fa-trash"></i>
                                    </span>
                                    <span class="text">Delete this image</span>
                                  </a>
                                </div>
                                <br /><br />
                                <div class="col-md-12">
                                  <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="gst_img">
                                    <label class="custom-file-label" for="gst_img" data-browse="Browse">New Image</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    {% else %}
                      <span>No image found</span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <!-- Collapsable Card Example -->
            <div class="card shadow mb-4">
              <!-- Card Header - Accordion -->
              <a href="#mobile_section" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="mobile_section">
                <h6 class="m-0 font-weight-bold text-primary">Mobile banner</h6>
              </a>
              <!-- Card Content - Collapse -->
              <div class="collapse show" id="mobile_section">
                <div class="card-body">
                  <form method="POST" enctype="multipart/form-data">
                    <!-- <input type="hidden" name="banner_type" value="men_banner"> -->
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="mobile_banner_img" class="mentetory">Upload banner image (946px X 300px)</label>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" name="mobile_banner" id="mobile_banner_img" multiple="multiple">
                          {% csrf_token %}
                          <label class="custom-file-label" for="mobile_banner_img" data-browse="Browse">Upload Banner Image</label>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <br  />
                        <button type="submit" class="btn btn-secondary btn-sm">Upload Image</button>
                      </div>
                    </div>
                    <div class="form-row" id="mobile_upload_preview">
                      <!-- Image Preview -->
                    </div>
                  </form>
                  <div class="form-row">
                    {% if mobile_image %}
                      {% for mobile_image in mobile_image %}
                        <div class="form-group col-md-4">
                          <div class="card" style="width: 18rem;"> <!-- style="width: 18rem;" -->
                            <img class="card-img-top" style="height: 110px;" src="/media/{{ mobile_image.banner_image }}" alt="Card image cap">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <a href="javaScript:void(0);" class="btn btn-danger btn-icon-split">
                                    <span class="icon text-white-50">
                                      <i class="fas fa-trash"></i>
                                    </span>
                                    <span class="text">Delete this image</span>
                                  </a>
                                </div>
                                <br /><br />
                                <div class="col-md-12">
                                  <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="gst_img">
                                    <label class="custom-file-label" for="gst_img" data-browse="Browse">New Image</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    {% else %}
                      <span>No image found</span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <!-- Collapsable Card Example -->
            <div class="card shadow mb-4">
              <!-- Card Header - Accordion -->
              <a href="#electronics_section" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="electronics_section">
                <h6 class="m-0 font-weight-bold text-primary">Electronics banner</h6>
              </a>
              <!-- Card Content - Collapse -->
              <div class="collapse show" id="electronics_section">
                <div class="card-body">
                  <form method="POST" enctype="multipart/form-data">
                    <!-- <input type="hidden" name="banner_type" value="men_banner"> -->
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="electronics_banner_img" class="mentetory">Upload banner image (946px X 300px)</label>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" name="electronics_banner" id="electronics_banner_img" multiple="multiple">
                          {% csrf_token %}
                          <label class="custom-file-label" for="electronics_banner_img" data-browse="Browse">Upload Banner Image</label>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <br  />
                        <button type="submit" class="btn btn-secondary btn-sm">Upload Image</button>
                      </div>
                    </div>
                    <div class="form-row" id="electronics_upload_preview">
                      <!-- Image Preview -->
                    </div>
                  </form>
                  <div class="form-row">
                    {% if electronic_image %}
                      {% for electronic in electronic_image %}
                        <div class="form-group col-md-4">
                          <div class="card" style="width: 18rem;"> <!-- style="width: 18rem;" -->
                            <img class="card-img-top" style="height: 110px;" src="/media/{{ electronic.banner_image }}" alt="Card image cap">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <a href="javaScript:void(0);" class="btn btn-danger btn-icon-split">
                                    <span class="icon text-white-50">
                                      <i class="fas fa-trash"></i>
                                    </span>
                                    <span class="text">Delete this image</span>
                                  </a>
                                </div>
                                <br /><br />
                                <div class="col-md-12">
                                  <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="gst_img">
                                    <label class="custom-file-label" for="gst_img" data-browse="Browse">New Image</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    {% else %}
                      <span>No image found</span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <!-- Collapsable Card Example -->
            <div class="card shadow mb-4">
              <!-- Card Header - Accordion -->
              <a href="#office_appliance_section" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="office_appliance_section">
                <h6 class="m-0 font-weight-bold text-primary">Office appliance banner</h6>
              </a>
              <!-- Card Content - Collapse -->
              <div class="collapse show" id="office_appliance_section">
                <div class="card-body">
                  <form method="POST" enctype="multipart/form-data">
                    <!-- <input type="hidden" name="banner_type" value="men_banner"> -->
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="office_appliance_banner_img" class="mentetory">Upload banner image (946px X 300px)</label>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" name="office_appliance_banner" id="office_appliance_banner_img" multiple="multiple">
                          {% csrf_token %}
                          <label class="custom-file-label" for="office_appliance_banner_img" data-browse="Browse">Upload Banner Image</label>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <br  />
                        <button type="submit" class="btn btn-secondary btn-sm">Upload Image</button>
                      </div>
                    </div>
                    <div class="form-row" id="office_appliance_upload_preview">
                      <!-- Image Preview -->
                    </div>
                  </form>
                  <div class="form-row">
                    {% if office_appliance_image %}
                      {% for office_appliance in office_appliance_image %}
                        <div class="form-group col-md-4">
                          <div class="card" style="width: 18rem;"> <!-- style="width: 18rem;" -->
                            <img class="card-img-top" style="height: 110px;" src="/media/{{ office_appliance.banner_image }}" alt="Card image cap">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-md-12">
                                  <a href="javaScript:void(0);" class="btn btn-danger btn-icon-split">
                                    <span class="icon text-white-50">
                                      <i class="fas fa-trash"></i>
                                    </span>
                                    <span class="text">Delete this image</span>
                                  </a>
                                </div>
                                <br /><br />
                                <div class="col-md-12">
                                  <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="gst_img">
                                    <label class="custom-file-label" for="gst_img" data-browse="Browse">New Image</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    {% else %}
                      <span>No image found</span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block custom_js %}
  <script src="{% static 'admin_static/js/custom_js/banner.js' %}"></script>
{% endblock %}
