.padding_off
{
  max-width: 4.333333%;
  padding: 0px;
}

.bread_crumbs_div
{
  /* border: 2px solid #d8d4d4; */
  margin: 15px 0px;
  padding: 0px 5px;
  box-shadow: 0px 0px 6px #9c9696 inset;
}

.bread_crumbs
{
  padding: 6px 0px;
  font-size: 17px;
}

/* .now_showing
{
  margin-left: 25px;
  position: relative;
}

.now_showing::before
{
  content: "";
  padding: 5px;
  border-radius: 50px;
  background-color: #ffcb37;
  position: absolute;
  top: 4px;
  left: -16px;
} */


/* Product Image & Small Product Desc  */
.product_image
{
  margin-bottom: 20px;
}

.product_image .small_image_div
{
  width: 100%;
  height: 370px;
  /* background-color: red; */
  overflow-y: scroll;
  text-align: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.product_image .small_image_div::-webkit-scrollbar {
  display: none;
}

.product_image .small_image_div img
{
  width: 88%;
  margin: 4px;
  border: 2px solid black;
}

.product_image .small_image_div .video
{
  position: relative;
  /* background: red; */
}

.product_image .small_image_div .video .play
{
  position: absolute;
  top: 13px;
  left: 14px;
  height: 37px;
  color: #ffffffa6;
  font-size: 30px;
  /* background: #e6e0e05c; */
}

.product_image .big_image_div
{
  width: 100%;
  height: 550px;
  /* background-color: red; */
  margin: 5px 0px 14px 0px;
}

.product_image .big_image_div img
{
  width: 100%;
  height: 100%;
}

.product_image .product_video
{
  width: 100%;
  height: 250px;
  background-color: red;
}

.product_image .product_video video
{
  width: 100%;
  height: 100%;
}

.product_sort_details
{
  /* margin-top: 10px; */
}

.product_sort_details .title
{
  font-size: 20px;
  font-weight: 600;
}

.product_sort_details .rating .star
{

}

.product_sort_details .rating .star img
{
  width: 15px;
}

/* .product_sort_details .rating .point
{
  font-size: 14px;
} */

.product_sort_details .rating .total_review
{
  color: red;
  font-size: 14px;
}

.product_sort_details .rating .have_question
{
  color: green;
  font-size: 14px;
}

.product_sort_details .rating .have_question a
{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.product_sort_details .price .sall
{
  font-size: 23px;
  font-weight: 800;
  padding-right: 5px;
  color: red;
}

.product_sort_details .price .original
{
  font-size: 20px;
  text-decoration: line-through;
  padding-right: 5px;
  color: #6b6969;
}

.product_sort_details .price .percent
{
  padding: 2px 5px;
  background-color: red;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.product_sort_details .product_model
{
  font-weight: 600;
  /* font-size: 14px; */
  padding-top: 13px;
}

.product_sort_details .sold,
.product_sort_details .stock,
.product_sort_details .size
{
  margin-top: 20px;
}

.product_sort_details .sold .by
{
  font-weight: 600;
  padding-right: 20px;
}

.product_sort_details .sold .original
{

}

.product_sort_details .sold .original img
{
  width: 15%;
}

.product_sort_details .stock .title
{
  font-weight: 600;
  font-size: 16px;
  padding-right: 15px;
}

.product_sort_details .stock .result
{
  color: green;
}

.product_sort_details .size .title
{
  font-size: 16px;
  font-weight: 600;
  padding-right: 8px;
}

.product_sort_details .size .size_cate span
{
  border: 1px solid black;
  padding: 2px 6px;
  font-weight: 600;
  cursor: pointer;
}

.product_sort_details .size .size_cate .active
{
  background-color: green;
  color: white;
}

.product_sort_details .product_overview .title
{
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.product_sort_details .product_overview .overview
{
  width: 100%;
  height: 59px;
  overflow: hidden;
  font-size: 13px;
}

.product_sort_details .product_overview .overview span
{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product_sort_details .available_opt
{
  padding-top: 20px;
}

.product_sort_details .available_opt .title
{
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
}

.product_sort_details .available_opt .options
{
  height: 30px;
  margin-bottom: 20px;
}

.product_sort_details .available_opt .options .choose_option
{
  padding-top: 15px;
  width: 40%;
  float: left;
}

.product_sort_details .available_opt .options .choose_option select
{
  border-radius: 5px;
}

.product_sort_details .available_opt .options .upload
{
  padding-top: 9px;
  width: 60%;
  float: left;
}

.product_sort_details .available_opt .leav_msg
{
  width: 100%;
}

.product_sort_details .available_opt .leav_msg textarea
{
  width: 100%;
  max-height: 75px;
}

.product_sort_details .available_opt .send_message
{
  width: 100%;
}

.product_sort_details .available_opt .send_message button
{
  padding: 5px 16px;
  border-radius: 6px;
  background-color: #5bbeec;
}

.product_sort_details .pincode_get
{
  padding: 15px 0px;
}

.product_sort_details .product_cart
{
  width: 100%;
  margin-top: 2px;
}

.product_sort_details .product_cart .incre_decre
{
  width: 50%;
  /* background: red; */
}

.product_sort_details .product_cart .incre_decre input[type="number"]
{
  width: 60px;
  text-align: center;
  border: 1px solid black;
  padding: 2px 0px;
}

.product_sort_details .product_cart .incre_decre input[type="number"]:focus
{
  outline: none;
}

.product_sort_details .product_cart .incre_decre label
{
  padding: 2px 12px;
  background: #e2dfdf;
  margin: -5px;
  border-radius: 5px;
  border: 1px solid black;
}

.product_sort_details .product_cart .incre_decre .decr
{
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.product_sort_details .product_cart .incre_decre .incr
{
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.product_sort_details .product_cart .cart_bttn
{
  margin: 0px 51px;
  background-color: #f73939;
  padding: 6px 7px;
  border-radius: 7px;
  color: white;
  font-weight: 900;
}

.product_sort_details .product_cart .wish_bttn
{
  padding: 6px 15px;
  margin: 0px 5px;
  background: #efeded;
  border-radius: 5px;
}


/* /Product Image & Small Product Desc  */

/* Share Item */
.share_product
{
  margin: 12px 0px;
}

.share_product .cod_product
{
  padding: 0px 5px;
}

.share_product .title
{
  font-weight: 600;
  font-size: 19px;
  padding-right: 30px;
}

.share_product .social_icon
{
  padding: 7px 13px;
    background: #eae7e7;
    border-radius: 21px;
    cursor: pointer;
    margin: 5px;
}
/* /Share Item */

/* Tags */
.tags
{
  margin: 15px 0px;
}

.tags .title
{
  font-size: 16px;
}

.tags .tag_items
{
  padding: 2px 10px;
  background-color: #eae7e7;
}
/* /Tags */

/* Description & Review */
.desc_rev
{
  margin: 15px 0px 0px 0px;;
  padding: 0px 10px;
  background-color: #e0e0e0;
}

.desc_rev .title
{
  width: 100%;
  padding: 15px 0px;
  text-align: center;
}

.desc_rev .title span
{
  padding: 6px 17px;
  background-color: #a3a7a7;
  border-radius: 50px;
  margin-right: 12px;
  cursor: pointer;
}

.desc_rev .title .active
{
  background-color: white;
  color: black;
  box-shadow: 0px 0px 10px #020202;
}

.show_desc_rev_div
{
  margin-bottom: 15px;
  border-bottom: 2px solid #dedada;
}

.show_desc_rev_div .show_desc_rev
{
  border-left: 2px solid #dedada;
  width: 100%;
  height: 100%;
}

.show_desc_rev_div .have_question_div
{
  margin: 10px 0px;
}

.show_desc_rev_div .have_question_div .title
{
  font-size: 20px;
}

.show_desc_rev_div .have_question_div .fields
{
  width: 100%;
}

.show_desc_rev_div .have_question_div .fields input[type="text"],
.show_desc_rev_div .have_question_div .fields textarea
{
  width: 80%;
  background-color: transparent;
  border-radius: 8px;
  margin: 9px 0px;
  padding: 3px 5px;
}

.show_desc_rev_div .have_question_div .fields textarea
{
  height: 100px;
}

.show_desc_rev_div .have_question_div .fields .captcha
{
  width: 50%;
  height: 80px;
  margin: 5px 0px;;
  border: 2px solid red;
}
/* /Description & Review */

/* Related Product */
.related_product
{
  width: 100%;
  min-height: 20px;
  /* border: 2px solid black; */
  border-left: none;
  border-right: none;
  padding: 10px 0px;
  margin: 10px 0px;
}

.related_product .title
{
  font-size: 19px;
  font-weight: 800;
  padding-bottom: 11px;
}

.product_lists
{
  /* width: 250px;
  height: 350px; */
  width: 188px;
  min-height: 303px;
  border: 1px solid #b5b4b4;
  background-color: #f5f3f3;
  padding-bottom: 10px;
  margin: 1px;
  float: left;
}

.product_lists .product_image
{
  width: 100%;
  height: 225px;
}

.product_lists .product_image img
{
  width: 100%;
  height: 100%;
}

.product_lists .product_details .price .original
{
  text-decoration: line-through;
}

.product_lists .product_details .offer
{
  padding: 5px 0px;
}

.product_lists .product_details .offer .percent
{
  padding: 3px 4px;
  border: 1px solid #0fa049;
  margin: 0px 0px 0px 3px;
  color: #0fa049;
}

.product_lists .product_details .cart_wishlist button
{
  width:42%;
  margin: 5px;background: #ffef0f;
  border-radius: 6px;
  border: 2px solid black;
  cursor: pointer;
}
/* /Related Product */

/* Pet Product */
.pet_product
{
  width: 100%;
  min-height: 250px;
  padding: 7px 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  float: left;
  margin-top: 12px;
}

.pet_product img
{
  width: 100%;
}
/* /Pet Product */

/* Customer Reviews */
.customer_review
{
  width: 100%;
  min-height: 250px;
  margin-bottom: 50px;
}

.customer_review .left .title
{
  font-weight: 600;
  font-size: 22px;
}

.customer_review .rating .star img
{
  width: 17px;
}

.customer_review .rating .rate_number
{
  padding-left: 12px;
}

.customer_review .rating .total_cust_rate p
{
  margin-top: 12px;
  margin-bottom: 0px;
  font-size: 17px;
}

.customer_review .customer_rev_image
{
  width: 100%;
}

.customer_review .customer_rev_image .title
{
  font-weight: 600;
  font-size: 22px;
}

.customer_review .customer_rev_image .customer_image
{
  width: 100%;
}

.customer_review .customer_rev_image .customer_image img
{
  width: 100%;
  border: 1px solid black;
}

.customer_review .customer_rev_image  .see_more
{
  cursor: pointer;
  font-size: 17px;
}

/* Name and progile image */
.customer_review .name_profile
{
  width: 100%;
  min-height: 50px;
  padding: 10px 0px;
}

.customer_review .name_profile .profile_img img
{
  width: 40px;
}

.customer_review .name_profile .profile_img span
{
  padding-left: 10px;
}

.customer_review .rating_start
{
  float: left;
  padding-right: 20px;
}

.customer_review .rating_start .star img
{
  width: 15px;
}

.customer_review .rating_title
{
  font-weight: 600;
}

.customer_review .review_writen
{
  padding-top: 5px;
  padding-bottom: 5px;
}

.customer_review .own_review_image span img
{
  width: 70px;
  border: 1px  soild black;
}

/* Name and progile image */
/* /Customer Reviews */
