.padding_off
{
  padding: 0px;
}

.bread_crumbs_div
{
  border: 2px solid #d8d4d4;
  margin: 15px 0px;
  padding: 0px 5px;
}

.bread_crumbs
{
  padding: 6px 0px;
  font-size: 14px;
}

/* .now_showing
{
  margin-left: 25px;
  position: relative;
}

.now_showing::before
{
  content: "";
  padding: 5px;
  border-radius: 50px;
  background-color: #ffcb37;
  position: absolute;
  top: 4px;
  left: -16px;
} */


/* Product Image & Small Product Desc  */
.product_image
{
  margin-bottom: 20px;
}

.product_image .small_image_div
{
  width: 100%;
  height: 370px;
  /* background-color: red; */
  overflow-y: scroll;
  text-align: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.product_image .small_image_div::-webkit-scrollbar {
  display: none;
}

.product_image .small_image_div img
{
  width: 88%;
  margin: 4px;
  border: 2px solid black;
}

.product_image .big_image_div
{
  width: 100%;
  height: 550px;
  /* background-color: red; */
  margin: 5px 0px 14px 0px;
}

.product_image .big_image_div img
{
  width: 100%;
  height: 100%;
}

.product_image .product_video
{
  width: 100%;
  height: 250px;
  background-color: red;
}

.product_image .product_video video
{
  width: 100%;
  height: 100%;
}

.product_sort_details
{
  margin-top: 10px;
}

.product_sort_details .title
{
  font-size: 20px;
  font-width: 600;
}

.product_sort_details .rating .star
{

}

.product_sort_details .rating .point
{
  font-size: 14px;
}

.product_sort_details .rating .total_review
{
  color: red;
  font-size: 14px;
}

.product_sort_details .rating .have_question
{
  color: green;
  font-size: 14px;
}

.product_sort_details .price .sall
{
  font-size: 20px;
  font-weight: 800;
  padding-right: 20px;
  color: red;
}

.product_sort_details .price .original
{
  font-size: 20px;
  text-decoration: line-through;
  padding-right: 20px;
}

.product_sort_details .price .percent
{
  padding: 2px 5px;
  background-color: red;
}

.product_sort_details .product_model
{
  font-weight: 600;
  font-size: 14px;
  padding-top: 13px;
}

.product_sort_details .sold .by
{
  font-weight: 600;
  padding-right: 20px;
}

.product_sort_details .sold .original
{

}

.product_sort_details .stock .title
{
  font-weight: 600;
  font-size: 16px;
  padding-right: 15px;
}

.product_sort_details .stock .result
{
  color: green;
}

.product_sort_details .size .title
{
  font-size: 16px;
  font-weight: 600;
  padding-right: 8px;
}

.product_sort_details .size .size_cate span
{
  border: 1px solid black;
  padding: 2px 6px;
  font-weight: 600;
  cursor: pointer;
}

.product_sort_details .size .size_cate .active
{
  background-color: green;
  color: white;
}

.product_sort_details .product_overview .title
{
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.product_sort_details .product_overview .overview
{
  width: 100%;
  height: 59px;
  overflow: hidden;
  font-size: 13px;
}

.product_sort_details .product_overview .overview span
{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product_sort_details .available_opt
{
  padding-top: 20px;
}

.product_sort_details .available_opt .title
{
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
}

.product_sort_details .available_opt .options .choose_option
{
  padding-top: 15px;
  width: 40%;
  float: left;
}

.product_sort_details .available_opt .options .choose_option select
{
  border-radius: 5px;
}

.product_sort_details .available_opt .options .upload
{
  padding-top: 15px;
  width: 60%;
  float: left;
}

.product_sort_details .available_opt .leav_msg
{
  width: 100%;
}

.product_sort_details .available_opt .leav_msg textarea
{
  width: 100%;
  max-height: 150px;
}

.product_sort_details .available_opt .send_message
{
  width: 100%;
}

.product_sort_details .available_opt .send_message button
{
  padding: 5px 16px;
  border-radius: 6px;
  background-color: #5bbeec;
}

.product_sort_details .product_cart
{
  width: 100%;
  margin-top: 20px;
}

.product_sort_details .product_cart .incre_decre
{
  width: 50%;
  /* background: red; */
}

.product_sort_details .product_cart .incre_decre input[type="number"]
{
  width: 60px;
  text-align: center;
  border: 1px solid black;
  padding: 2px 0px;
}

.product_sort_details .product_cart .incre_decre input[type="number"]:focus
{
  outline: none;
}

.product_sort_details .product_cart .incre_decre label
{
  padding: 2px 12px;
  background: #e2dfdf;
  margin: -5px;
  border-radius: 5px;
  border: 1px solid black;
}

.product_sort_details .product_cart .incre_decre .decr
{
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.product_sort_details .product_cart .incre_decre .incr
{
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.product_sort_details .product_cart .cart_bttn
{
  margin: 0px 51px;
  background-color: #f73939;
  padding: 6px 7px;
  border-radius: 7px;
  color: white;
  font-weight: 900;
}

.product_sort_details .product_cart .wish_bttn
{
  padding: 6px 15px;
  margin: 0px 5px;
  background: #efeded;
  border-radius: 5px;
}


/* /Product Image & Small Product Desc  */
