{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Zaptay</title>

    <!-- Bootstrap4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />

    <!-- External Styling -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/all_page.css' %}"> -->
    <link rel="stylesheet" href="{% static 'user_static/css/base_template.css' %}">
    <!-- Additional CSS -->

    {% block add_css %}{% endblock %}
  </head>
  <body>

    <!-- ================================================================================================ -->
    <!-- =====================================  Header  ============================================= -->

    <div class="header_menu">
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand location" href="javascript:void(0);" data-toggle="modal" data-target="#PickUpLocation">
          <div><i class="fas fa-map-marker-alt"></i></div>
          <div>
            <p>Select your location</p>
            <p>700070</p>
          </div>
        </a>

        <a class="navbar-brand logo_area" href="#">
          <!-- <img src="{% static 'site_image/logo.png' %}" alt="" class="site_logo"> -->
          <img src="/media/{{ base_template_content.header_logo.banner_image }}" alt="" class="site_logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item location">
              <a class="nav-link" href="#">
                <div><i class="fas fa-search-location"></i></div>
                <div>700070</div>
              </a>
            </li> -->
            <!-- <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li> -->
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Men</a>
                <a class="dropdown-item" href="#">Women</a>
                <a class="dropdown-item" href="#">Baby & Kids</a>
              </div>
            </li> -->
            <li class="nav-item search_box">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Search for anything" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Zaptay for Business</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);" data-toggle="modal" data-target="#ZaptayForBusiness">Zaptay for Business</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">B2B</a>
            </li> -->
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0"> -->
            <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
            <div class="btn-group icons_menu">
              <!-- <button type="button" class="btn btn-link dropdown-toggle wishlist" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-heart"></i>
                <span>5</span>
              </button> -->
              <a href="{% url 'home:wishlist:show_wishlist' %}" class="btn dropdown-toggle wishlist"> <!--  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" -->
                <i class="fas fa-heart"></i>
                <span>5</span>
              </a>
              <!-- <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action2</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
              </div> -->
            </div>
            <div class="btn-group icons_menu">
              <a href="{% url 'home:cart:show_cartlist' %}" class="btn dropdown-toggle cart"> <!--  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" -->
                <i class="fas fa-cart-plus"></i>
                <span>35</span>
              </a>
              <!-- <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
              </div> -->
            </div>
            <div class="btn-group icons_menu">
              <button type="button" class="btn btn-link dropdown-toggle notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell"></i>
                <span>35</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" type="button">Notification 1</a>
                <a class="dropdown-item" type="button">Notification 2</a>
              </div>
            </div>
            {% if base_template_content.login_user.status == 0 %}
              <button onclick="location.href='{% url 'user_login:login' %}'" type="button" class="btn btn-light login_btn">Log in</button>
              <button onclick="location.href='{% url 'user_login:signup' %}'" type="button" class="btn btn-primary sign_up_btn">Sign up</button>
            {% else %}
              <div class="btn-group profile_menu">
                <div class="profile_image" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SD</div>
                <div class="dropdown-menu dropdown-menu-right user_menu">
                  <div class="profile_menu_items">
                    <a href="" class="dropdown-item">
                      <div class="profile">
                        <div class="image_div">
                          <div class="image">
                            <span>SD</span>
                            <!-- <img src="{% static 'site_image/135x180.png' %}" alt=""> -->
                          </div>
                        </div>
                        <div class="user_name">
                          <div>{{ base_template_content.login_user.user_name }}</div>
                          <div>{{ base_template_content.login_user.user_email }}</div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="profile_menu_items">
                    <a class="dropdown-item" type="button">My Order</a>
                    <a class="dropdown-item" type="button">My Cart</a>
                    <a class="dropdown-item" type="button">My WishList</a>
                  </div>
                  <div class="profile_menu_items">
                    <a class="dropdown-item" type="button">Account Settings</a>
                    <a class="dropdown-item" type="button">Payment Methods</a>
                    <a class="dropdown-item" type="button">Zaptay Coupon</a>
                    <a class="dropdown-item" type="button">Zaptay Wallet</a>
                  </div>
                  <div class="profile_menu_items">
                    <a class="dropdown-item" type="button">Help</a>
                    <a class="dropdown-item" type="button">Log Out</a>
                  </div>
                </div>
              </div>
            {% endif %}
          <!-- </form> -->
        </div>
      </nav>
    </div>

    <!-- =====================================  Header End  ============================================= -->
    <!-- ================================================================================================ -->

    <!-- ================================================================================================ -->
    <!-- =====================================  Header2 Start  ============================================= -->
    <div class="menu2 d-none d-md-block">
      <nav class="navbar navbar-expand-md">
        <div class="container">
          <div class="navbar-collapse collapse" id="main-nav-1">
            <ul class="navbar-nav">
              {% if base_template_content.mega_menu_sub_category %}
                {% for mega_sub_category in base_template_content.mega_menu_sub_category %}
                  <li class="nav-item dropdown position-static"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="#">{{ mega_sub_category.0 }}</a>
                    <div class="dropdown-menu w-100">
                      <div class="container">
                        <div class="dropdown-menu-item">
                          <div class="row">
                            <div class="col-sm-12 tertiary_category">
                              {% if mega_sub_category.1  %}
                                {% for j in mega_sub_category.1  %}
                                  <div>
                                    <a href="">{{ j.name }}</a>
                                  </div>
                                {% endfor %}
                              {% endif %}
                              <!-- <div>
                                <a href="">Category 2</a>
                              </div>
                              <div>
                                <a href="">Category 3</a>
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              {% endif %}
            </ul>
            <div class="dropdown mega_more">
              <button class="btn btn-light mega_more_btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="more_mega_item">
                  {% if base_template_content.mega_menu_more_category %}
                    {% for i in base_template_content.mega_menu_more_category %}
                      <a class="dropdown-item" href="#">{{ i.sub_category_name }}</a>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <!-- =====================================  Header2 End  ============================================= -->
    <!-- ================================================================================================ -->


    <!-- ================================================================================================ -->
    <!-- =====================================  Body Start  ============================================= -->
    <div class="body_content_main">
      {% block body %}{% endblock %}
    </div>
    <!-- =====================================  Body End  ============================================= -->
    <!-- ================================================================================================ -->


    <!-- ================================================================================================= -->
    <!-- =============================  Footer Start   ========================================= -->
    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="footetr_logo">
              <h1>Zaptay.com</h1>
            </div>
            <div class="address">
              <span>Sodhpur, Kolkata - 7000110, West Bengal</span>
            </div>
            <div class="social_media">
              <span class="title">Social media links:</span>
              <a href=""><div class="socila_icon facebook"><i class="fab fa-facebook-f"></i></div></a>
              <a href=""><div class="socila_icon twitter"><i class="fab fa-twitter"></i></div></a>
              <a href=""><div class="socila_icon linkedin"><i class="fab fa-linkedin-in"></i></div></a>
              <a href=""><div class="socila_icon youtube"><i class="fab fa-youtube"></i></div></a>
              <a href=""><div class="socila_icon instagram"><i class="fab fa-instagram"></i></div></a>
              <a href=""><div class="socila_icon whatsapp"><i class="fab fa-whatsapp"></i></div></a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="policy_title">
              <span>policies</span>
            </div>
            <div class="all_policy_details">
              <ul>
                <li><a href="#">Return Policy</a></li>
                <li><a href="#">Term Policy</a></li>
                <li><a href="#">Privacy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="policy_title">
              <span>Customer care</span>
            </div>
            <div class="all_policy_details">
              <ul>
                <li><a href="#">Account Login</a></li>
                <li><a href="#">Shoping Cart</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="policy_title">
              <span>B2B Information</span>
            </div>
            <div class="all_policy_details">
              <ul>
                <li><a href="#">Account Login</a></li>
                <li><a href="#">Shoping Cart</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="policy_title">
              <span>Newsletter signup</span>
            </div>
            <div class="all_policy_details">
              <span>Signup for our email and be who know oir special offers! Furthermore, we will give a 15% discount on next dore after you sign up.</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="policy_title">
              <span>Subscribe now</span>
            </div>
            <div class="all_policy_details subscribe">
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Enter your email address">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <i class="fas fa-paper-plane"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="payment_title">
              <span>Accepted payment option</span>
            </div>
            <div class="all_policy_details">
              <div class="payment_option">
                <span><i class="fas fa-credit-card"></i></span>
              </div>
              <div class="payment_option">
                <span><i class="fas fa-wallet"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="copy_right_div">
        <span>2020 &copy; Zaptay.com. All right reservered</span>
      </div>
    </footer>
    <!-- =====================================  Footer End  ============================================= -->
    <!-- ================================================================================================ -->

    <!-- ================================================================================================= -->
    <!-- =============================  Modal for get location   ========================================= -->
    <div class="modal fade" id="PickUpLocation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Pick your current location</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <button type="button" class="btn btn-outline-secondary auto_get_location"><i class="fas fa-search-location"></i> Click to auto detect</button>
            <center>OR</center>
            </center>
            <div class="form-group">
              <label for="exampleFormControlInput1"></label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your pincode">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- =============================  Modal for get location End  ====================================== -->
    <!-- ================================================================================================= -->

    <!-- ================================================================================================== -->
    <!-- ==================================  Modal Zaptay for Business ==================================== -->
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> -->

    <div class="modal fade bd-example-modal-lg" id="ZaptayForBusiness" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Request for business with zaptay</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="business_first_name">First Name</label>
                  <input type="email" class="form-control" id="business_first_name" aria-describedby="emailHelp" placeholder="First Namel">
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="form-group col-md-6">
                  <label for="business_last_name">Last Name</label>
                  <input type="email" class="form-control" id="business_last_name" aria-describedby="emailHelp" placeholder="Last Name">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="business_email">Email Address</label>
                  <input type="email" class="form-control" id="business_email" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">It will be your register mail id</small>
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Phone Number</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="business_phone">+91</span>
                    </div>
                    <input type="text" class="form-control" id="business_phone" placeholder="Phone number" aria-describedby="inputGroupPrepend" required>
                    <!-- <div class="invalid-feedback">
                      Please choose a username.
                    </div> -->
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="business_specification">Select Specification</label>
                <select class="custom-select" id="business_specification">
                  <option selected disabled>Choose...</option>
                  <option value="Fashion">Fashion</option>
                  <option value="Mobile">Mobile</option>
                  <option value="Eletronics">Eletronics</option>
                  <option value="Home Appliance">Home Appliance</option>
                  <option value="Other">Other</option>
                </select>
              </div>

              <!-- <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div> -->
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">I agree to your <a href="">Terms, Data Policy and Cookie Policy</a>. You may receive Email notifications or Call from us and can opt out at any time.</label>
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <!-- ==================================  Modal Zaptay for Business end ================================ -->
    <!-- ================================================================================================== -->

    <!-- Bootstrap4 -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Custom Scripts -->
    <!-- <script src="{% static 'js/login_register_popup.js'%}"></script> -->
    <script src="{% static 'user_static/js/base_template.js' %}"></script>
    <!-- /Custom Scripts -->

    {% block add_js %}
    {% endblock %}
  </body>
</html>
