{% extends 'admin_template/base_template.html' %}
{% load static %}

{% block title %}Products{% endblock %}

{% block custom_css %}{% endblock %}

{% block page_body %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Products Details</h1>
</div>

<div class="row">

  <div class="col-lg-12">

    <!-- Basic Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Product Add</h6>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="inputAddress">Product Title</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Title of the product">
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputEmail4">MRP Price</label>
              <input type="number" class="form-control" id="inputEmail4" placeholder="Main Price">
            </div>
            <div class="form-group col-md-4">
              <label for="inputPassword4">Selling Price</label>
              <input type="number" class="form-control" id="inputPassword4" placeholder="Offer Price">
            </div>
            <div class="form-group col-md-4">
              <label for="inputEmail4">Extra Discount</label>
              <input type="number" class="form-control" id="inputEmail4" placeholder="Extra Offer Price">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputState">Category</label>
              <select id="inputState" class="form-control">
                <option selected>Category</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">Sub Category</label>
              <select id="inputState" class="form-control">
                <option selected>Sub category</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">Tertiary Category</label>
              <select id="inputState" class="form-control">
                <option selected>Tertiary category</option>
                <option>...</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="exampleFormControlTextarea1">Description</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="9" placeholder="Product description"></textarea>
            </div>
            <div class="form-group col-md-6">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Color</label>
                  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="form-group col-md-12">
                  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Size</label>
                  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="form-group col-md-12">
                  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Made In</label>
                  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-2">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Weekly Dreals</label>
              </div>
            </div>
            <div class="form-group col-md-2">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck2">
                <label class="custom-control-label" for="customCheck2">Top Offer</label>
              </div>
            </div>
            <div class="form-group col-md-2">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck3">
                <label class="custom-control-label" for="customCheck3">Free shiping</label>
              </div>
            </div>
            <div class="form-group col-md-2">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck3">
                <label class="custom-control-label" for="customCheck3">Return</label>
              </div>
            </div>
            <div class="form-group col-md-2">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck3">
                <label class="custom-control-label" for="customCheck3">Cash On Delivary</label>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFileLangHTML">
                <label class="custom-file-label" for="customFileLangHTML" data-browse="Browse">Upload Product Image</label>
              </div>
            </div>
            <div class="form-group col-md-2">
              <div class="card" style="width: 10rem;">
                <img class="card-img-top" src="https://via.placeholder.com/50x50.png?text=Product IMG." alt="Card image cap" style="width: 100%; height: 110px;">
                <div class="card-body">
                  <div class="card-text">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck4">
                      <label class="custom-control-label" for="customCheck4">Home Image</label>
                    </div>
                    <br />
                    <div class="form-group">
                      <!-- <label for="inputEmail4">MRP Price</label> -->
                      <input type="number" class="form-control" id="inputEmail4" placeholder="Serial no.">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-2">
              <div class="card" style="width: 10rem;">
                <img class="card-img-top" src="https://via.placeholder.com/50x50.png?text=Product IMG." alt="Card image cap" style="width: 100%; height: 110px;">
                <div class="card-body">
                  <div class="card-text">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck4">
                      <label class="custom-control-label" for="customCheck4">Home Image</label>
                    </div>
                    <br />
                    <div class="form-group">
                      <!-- <label for="inputEmail4">MRP Price</label> -->
                      <input type="number" class="form-control" id="inputEmail4" placeholder="Serial no.">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-2">
              <div class="card" style="width: 10rem;">
                <img class="card-img-top" src="https://via.placeholder.com/50x50.png?text=Product IMG." alt="Card image cap" style="width: 100%; height: 110px;">
                <div class="card-body">
                  <div class="card-text">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck4">
                      <label class="custom-control-label" for="customCheck4">Home Image</label>
                    </div>
                    <br />
                    <div class="form-group">
                      <!-- <label for="inputEmail4">MRP Price</label> -->
                      <input type="number" class="form-control" id="inputEmail4" placeholder="Serial no.">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-2">
              <div class="card" style="width: 10rem;">
                <img class="card-img-top" src="https://via.placeholder.com/50x50.png?text=Product IMG." alt="Card image cap" style="width: 100%; height: 110px;">
                <div class="card-body">
                  <div class="card-text">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck4">
                      <label class="custom-control-label" for="customCheck4">Home Image</label>
                    </div>
                    <br />
                    <div class="form-group">
                      <!-- <label for="inputEmail4">MRP Price</label> -->
                      <input type="number" class="form-control" id="inputEmail4" placeholder="Serial no.">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row align-items-center">
            <div class="col-md-12">
              <label class="sr-only" for="inlineFormInputGroup">Username</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fab fa-youtube"></i></div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Youtube link">
              </div>
            </div>
          </div>

          <button type="button" class="btn btn-success">Submit</button>

        </form>
      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block custom_js %}
{% endblock %}
