{% extends 'admin_template/base_template.html' %}
{% load static %}

{% block title %}Products{% endblock %}

{% block custom_css %}
  <style>
    .errorlist
    {
      color: red;
      margin-bottom: 0px;
    }

    .mentetory
    {
      position: relative;
    }

    .mentetory::after
    {
      content: '*';
      position: absolute;
      right: -11px;
      font-weight: 800;
      color: red;
      top: 0px;
    }
  </style>
{% endblock %}

{% block page_body %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Products Details</h1>
</div>

<div class="row">

  <div class="col-lg-12">

    <!-- Basic Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Product Add</h6>
      </div>
      <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
          {% if form.errors %}
            {% for i in form %}
              <span>{{ i.errors }}</span>
            {% endfor %}
            <br />
          {% endif %}
          <div class="form-row">
            <div class="form-group col-md-12">
              <input class="form-control" id="listSearch" type="text" placeholder="Search your product">
              <ul class="list-group" id="myList" style="display: none;">
                <li class="list-group-item"><a href="">First item</a></li>
                <li class="list-group-item">Second item</li>
              </ul>
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress" class="mentetory">Product Title</label>
            <!-- <input type="text" class="form-control" id="inputAddress" placeholder="Title of the product"> -->
            {{ form.product_title }}
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="category" class="mentetory">Category</label>
              <!-- <select id="category" class="form-control">
                <option selected>Category</option>
                <option>...</option>
              </select> -->
              {{ form.category }}
            </div>
            <div class="form-group col-md-4">
              <label for="sub_category" class="mentetory">Sub Category</label>
              <!-- <select id="sub_category" class="form-control">
                <option selected>Sub category</option>
                <option>...</option>
              </select> -->
              {{ form.sub_cateegory }}
            </div>
            <div class="form-group col-md-4">
              <label for="ter_category">Tertiary Category</label>
              <!-- <select id="ter_category" class="form-control">
                <option selected>Tertiary category</option>
                <option>...</option>
              </select> -->
              {{ form.tertiary }}
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="descrip" class="mentetory">Description</label>
              <!-- <textarea class="form-control" id="descrip" rows="9" placeholder="Product description"></textarea> -->
              {{ form.description }}
            </div>
            <div class="form-group col-md-6">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label class="my-1 mr-2 mentetory" for="color">Color</label>
                  <!-- <select class="custom-select my-1 mr-sm-2" id="color">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select> -->
                  {{ form.color }}
                </div>
                <div class="form-group col-md-12">
                  <label class="my-1 mr-2 mentetory" for="size">Size</label>
                  <!-- <select class="custom-select my-1 mr-sm-2" id="size">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select> -->
                  {{ form.size }}
                </div>
                <div class="form-group col-md-12">
                  <label class="my-1 mr-2 mentetory" for="made_in">Made In</label>
                  <!-- <select class="custom-select my-1 mr-sm-2" id="made_in">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select> -->
                  {{ form.made_in }}
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-3">
              <div class="custom-control custom-checkbox">
                <!-- <input type="checkbox" class="custom-control-input" id="same_day_delivary"> -->
                {{ form.same_day_delivary_check }}
                <label class="custom-control-label" for="same_day_delivary">Same Day Delivery</label>
              </div>
              <div class="form-row">
                <div class="form-group col-md-10">
                  <!-- <input type="text" class="form-control" id="inputAddress" placeholder="Price"> -->
                  {{ form.same_day_delivary_price }}
                </div>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="custom-control custom-checkbox">
                <!-- <input type="checkbox" class="custom-control-input" id="next_day_delivary"> -->
                {{ form.next_day_delivary_check }}
                <label class="custom-control-label" for="next_day_delivary">Next Day Delivery</label>
              </div>
              <div class="form-row">
                <div class="form-group col-md-10">
                  <!-- <input type="text" class="form-control" id="inputAddress" placeholder="Price"> -->
                  {{ form.next_day_delivary_price }}
                </div>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="custom-control custom-checkbox">
                <!-- <input type="checkbox" class="custom-control-input" id="customize_day_delivary"> -->
                {{ form.customize_delivary_check }}
                <label class="custom-control-label" for="customize_day_delivary">Customize Day Delivery</label>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <!-- <label for="inputAddress">Product Title</label> -->
                  <!-- <input type="text" class="form-control" id="inputAddress" placeholder="Add Day"> -->
                  {{ form.customize_delivary_day }}
                </div>
                <div class="form-group col-md-6">
                  <!-- <input type="text" class="form-control" id="inputAddress" placeholder="Price"> -->
                  {{ form.customize_delivary_price }}
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="form-row" id="add_more_pin_codes_div">
            <div class="form-group col-md-3">
              <div class="card">
                <div class="card-header">
                  <div class="form-group"> -->
                    <!-- <label for="chaeges">Charge rate</label> -->
                    <!-- <input type="number" name="pincode[]" class="form-control" id="chaeges" placeholder="Enter The Pincode">
                  </div>
                </div>
                <div class="card-body"> -->
                  <!-- <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="pincode_free_delivary">
                    <label class="custom-control-label" for="pincode_free_delivary">Free Delivary</label>
                  </div> -->
                  <!-- <div class="form-group">
                    <label for="chaeges">Charge rate</label>
                    <input type="number" name="pincode_charge[]" class="form-control" id="chaeges" placeholder="Enter the charge" value="0">
                  </div>
                </div>
              </div>
            </div>
          </div> -->

          <!-- <div class="form-group col-md-12">
            <a href="javascript:void(0);" id="pincode_add">Add More Pincode</a>
          </div> -->

          <div class="form-row">
            <div class="form-group col-md-2">
              <div class="custom-control custom-checkbox">
                <!-- <input type="checkbox" class="custom-control-input" id="weely_dreals"> -->
                {{ form.weekly_dreals }}
                <label class="custom-control-label" for="weely_dreals">Weekly Dreals</label>
              </div>
            </div>
            <div class="form-group col-md-2">
              <div class="custom-control custom-checkbox">
                <!-- <input type="checkbox" class="custom-control-input" id="top_offer"> -->
                {{ form.top_offer }}
                <label class="custom-control-label" for="top_offer">Top Offer</label>
              </div>
            </div>
            <!-- <div class="form-group col-md-2">
              <div class="custom-control custom-checkbox"> -->
                <!-- <input type="checkbox" class="custom-control-input" id="free_shiping"> -->
                {%comment%}{{ form.free_shiping }}{%endcomment%}
                <!-- <label class="custom-control-label" for="free_shiping">Free shiping</label>
              </div>
            </div> -->
            <div class="form-group col-md-2">
              <div class="custom-control custom-checkbox">
                <!-- <input type="checkbox" class="custom-control-input" id="return"> -->
                {{ form.return_product }}
                <label class="custom-control-label" for="return">Return</label>
              </div>
            </div>
            <div class="form-group col-md-2">
              <div class="custom-control custom-checkbox">
                <!-- <input type="checkbox" class="custom-control-input" id="cod"> -->
                {{ form.cod }}
                <label class="custom-control-label" for="cod">Cash On Delivery</label>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <div class="custom-file">
                <!-- <input type="file" class="custom-file-input" id="product_img" multiple="multiple"> -->
                {{ form.product_image }}
                <label class="custom-file-label" for="product_img" data-browse="Browse">Upload Product Image</label>
              </div>
            </div>
          </div>
          <div class="form-row" id="show_upload_image">
            <!-- <div class="form-group col-md-2">
              <div class="card" style="width: 10rem;">
                <img class="card-img-top" src="https://via.placeholder.com/50x50.png?text=P. IMG" alt="Card image cap" style="width: 100%; height: 180px;">
                <div class="card-body">
                  <div class="card-text">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck4">
                      <label class="custom-control-label" for="customCheck4">Home Image</label>
                    </div>
                    <br />
                    <div class="form-group">
                      <input type="number" class="form-control" id="inputEmail4" placeholder="Serial no.">
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>

          <div class="form-row align-items-center">
            <div class="col-md-12">
              <label class="sr-only" for="youtube">Username</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fab fa-youtube"></i></div>
                </div>
                <!-- <input type="text" class="form-control" id="youtube" placeholder="Youtube link"> -->
                {{ form.youtube }}
              </div>
            </div>
          </div>
          {% csrf_token %}
          <button type="submit" class="btn btn-success btn-lg" style="width: 180px">Submit</button>

        </form>
      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block custom_js %}

<!-- http://www.nicedit.com/demos.php -->
  <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
  <script type="text/javascript">
      bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
    </script>

    <script src="{% static 'admin_static/js/custom_js/product.js' %}"></script>
    <script>
    $(document).ready(function(){
      $("#listSearch").on("keyup", function() {
        if($(this).val() != ""){
          $("#myList").show();
          var value = $(this).val().toLowerCase();
          $("#myList li").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        }else{
          $("#myList").hide();
        }
      });
    });
    </script>
{% endblock %}
