{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>

{% block add_css %}
  <link rel="stylesheet" href="{% static 'css/category.css' %}">
{% endblock %}

{% block content %}
<!-- Banner -->
  <div class="banner">
    <div class="row">
      <div class="col-md-1 col_pad_off">
        <img class="left_image" src="{% static 'site_image/1507732030.formal-shoes.png' %}" alt="">
      </div>
      <div class="col-md-10 col_pad_off">
        <img class="middle_image" src="{% static 'site_image/1507732030.formal-shoes.png' %}" alt="">
      </div>
      <div class="col-md-1 col_pad_off">
        <img class="right_image" src="{% static 'site_image/1507732030.formal-shoes.png' %}" alt="">
      </div>
    </div>
  </div>
<!-- /Banner -->

<!-- Category type -->
  <div class="category_type_list">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <div class="card">
            <div class="card_image">
              <img src="{% static 'site_image/male.jpg' %}" alt="">
            </div>
            <div class="card_name">
              <span>Product Name</span>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card">
            <div class="card_image">
              <img src="{% static 'site_image/male.jpg' %}" alt="">
            </div>
            <div class="card_name">
              <span>Product Name</span>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card">
            <div class="card_image">
              <img src="{% static 'site_image/male.jpg' %}" alt="">
            </div>
            <div class="card_name">
              <span>Product Name</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- /Category type -->

<!-- Category head -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="category_header">
          <div class="row">
            <div class="col-md-3">
              <div class="category_name">
                <span>Woman category</span>
              </div>
            </div>
            <div class="col-md-5">
              <div class="bread_crumbs">
                <span>
                  <a href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
                </span>
                <span>/</span>
                <span>
                  <a href="#">Men category</a>
                </span>
                <span>/</span>
                <span>Panjabi</span>
                <span class="now_showing">Showing 1 - 40 Products of 150 Products</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="sorting">
                <div class="sort_by">
                  <span><i class="fa fa-sort" aria-hidden="true"></i>&nbsp;Sort By</span>
                </div>
              </div>
              <div class="sorting">
                <div class="view">
                  <span><i class="fa fa-eye" aria-hidden="true"></i> &nbsp; View</span>
                </div>
              </div>
              <div class="sorting">
                <div class="stock">
                  <span><i class="fa fa-th" aria-hidden="true"></i>&nbsp;Stock view</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- /Category head -->

<!-- Product filter and category -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="filter_div">
          <div class="row">
            <div class="col-md-12">
              <div class="brand_name">
                <div class="title">Breands name</div>
                <div class="search">
                  <input type="text" name="" value="">
                  <div class="search_result">
                    asd
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- /Product filter and category -->

{% endblock %}
