{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>

{% block add_css %}
<link rel="stylesheet" href="{% static '/css/home.css' %}">
{% endblock %}

{% block content %}
  <div class="banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <div class="banner_category">
            <ul>
              <a href=""><li>Men</li></a>
              <a href=""><li>Women</li></a>
              <a href=""><li>Baby & kids</li></a>
              <a href=""><li>Mobile</li></a>
              <a href=""><li>Baby & kids</li></a>
              <a href=""><li>Baby & kids</li></a>
            </ul>
          </div>
        </div>
        <div class="col-md-7">
          <div class="banner_image">
            <span>Banner section</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="indian_haat">
            <span>INDIAN HAAT section</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Our facility -->
  <div class="our_facility">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <div class="facility_tab">
            <div class="logo">
              <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
            </div>
            <div class="text">
              <span>Product Authentication Policy</span>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="facility_tab">
            <div class="logo">
              <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
            </div>
            <div class="text">
              <span>COD Policy</span>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="facility_tab">
            <div class="logo">
              <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
            </div>
            <div class="text">
              <span>Free Shipping Policy</span>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="facility_tab">
            <div class="logo">
              <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
            </div>
            <div class="text">
              <span>10 Days Retuen Policy</span>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="facility_tab">
            <div class="logo">
              <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
            </div>
            <div class="text">
              <span>Membership Policy</span>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="facility_tab">
            <div class="logo">
              <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
            </div>
            <div class="text">
              <span>Safe payment</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
