{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>

{% block add_css %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <!-- Bread Crumbs -->
      <div class="bread_crumbs_div">
        <div class="bread_crumbs">
          <span>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
          </span>
          <span>/</span>
          <span>
            <a href="#">Men category</a>
          </span>
          <span>/</span>
          <span>
            <a href="#">Panjabi</a>
          </span>
          <span>/</span>
          <span>Panjabi</span>
          <!-- <span class="now_showing">Showing 1 - 40 Products of 150 Products</span> -->
        </div>
      </div>
      <!-- /Bread Crumbs -->

      <!-- Product Image & Small Product Desc -->
      <div class="product_image">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-1 padding_off">
              <div class="small_image_div">
                <img src="{% static 'site_image/female.jpg' %}" alt="">
                <img src="{% static 'site_image/male.jpg' %}" alt="">
              </div>
            </div>

            <div class="col-md-4 padding_off">
              <div class="big_image_div">
                <img src="{% static 'site_image/male.jpg' %}" alt="">
              </div>
            </div>

            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12">
                  <div class="product_video">
                    <video width="320" height="240" controls>
                      <source src="https://youtu.be/Q3TI27IN7X0" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="product_sort_details">
                    <div class="title">Product name</div>
                    <div class="rating">
                      <span class="star">Star</span>
                      <span class="point">4.7</span>
                      <span class="total_review">(7 reviews)</span>
                      <span class="have_question">Have any questions?</span>
                    </div>
                    <div class="price">
                      <span class="sall"><i class="fa fa-inr" aria-hidden="true"></i> 350</span>
                      <span class="original"><i class="fa fa-inr" aria-hidden="true"></i> 350</span>
                      <span class="percent">-5%</span>
                    </div>

                    <div class="product_model">
                      <span>Product model: Men's Cotton Jeans</span>
                    </div>

                    <div class="sold">
                      <span class="by">Sold By: Zaptay</span>
                      <span class="original">100% original image</span>
                    </div>

                    <div class="stock">
                      <span class="title">Stock</span>
                      <span class="result"><i class="fa fa-check" aria-hidden="true"></i> In stock</span>
                    </div>

                    <div class="size">
                      <span class="title">Size</span>
                      <span class="size_cate">
                        <span class="active">S</span>
                        <span>M</span>
                        <span>L</span>
                        <span>XL</span>
                        <span>XXL</span>
                      </span>
                    </div>

                    <div class="product_overview">
                      <div class="title">Product Over View</div>
                      <div class="overview">
                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
                      </div>
                    </div>

                    <div class="available_opt">
                      <div class="title">Available option</div>
                      <div class="options">
                        <div class="choose_option">
                          <select class="" name="">
                            <option value="">--Select Option--</option>
                            <option value="">Logo</option>
                          </select>
                        </div>
                        <div class="upload">
                          <input type="file" name="" value="">
                        </div>
                      </div>
                      <div class="leav_msg">
                        <textarea name="name" rows="8" placeholder="Leave message"></textarea>
                      </div>
                      <div class="send_message">
                        <button type="button" name="button">Submit</button>
                      </div>
                    </div>

                    <div class="product_cart">
                      <span class="incre_decre">
                        <label for="" class="decr">-</label>
                        <input type="number" name="" value="1" readonly>
                        <label for="" class="incr">+</label>
                      </span>

                      <span class="cart_bttn"><i class="fa fa-shopping-cart" aria-hidden="true"></i> &nbsp;Add to cart</span>

                      <span class="wish_bttn"><i class="fa fa-heart" aria-hidden="true"></i></span>
                      <span class="wish_bttn"><i class="fa fa-retweet" aria-hidden="true"></i></span>
                    </div>

                  </div>
                </div>
              </div>

              <!-- share item -->
              <div class="share_product">
                <div class="row">
                  <div class="col-md-12">
                    <span class="title">Share the the product</span>
                    <span class="social_icon">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </span>
                    <span class="social_icon">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
              <!-- /share item -->

              <!-- Tags -->
              <div class="tags">
                <div class="row">
                  <div class="col-md-12">
                    <span class="title">Tags:</span>
                    <span class="tag_items">Food Delivary Bag</span>
                    <span class="tag_items">Pizza Bag</span>
                  </div>
                </div>
              </div>
              <!-- /Tags -->
            </div>

          </div>
        </div>
      </div>
      <!-- /Product Image & Small Product Desc -->

      <!-- Description & Review -->
      <div class="desc_rev">
        <div class="row">
          <div class="col-md-6">
            <div class="title">
              <span class="active">Description</span>
              <span>Reviews</span>
            </div>
          </div>
          <div class="col-md-6">

          </div>
        </div>
      </div>

      <div class="show_desc_rev_div">
        <div class="row">
          <div class="col-md-6">
            <div class="show_desc_rev"></div>
          </div>
          <div class="col-md-6">
            <div class="have_question_div">
              <div class="title">
                <span>Have a Question?</span>
              </div>
              <div class="fields">
                <input type="text" name="" value="">
                <textarea name="name" rows="8"></textarea>
                <div class="captcha">
                  <span>Captcha will be here</span>
                </div>
                <button>Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Description & Review -->


      <!-- Related Product -->
        <div class="related_product">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="title">
                  <span>Related Product</span>
                </div>
              </div>
            <div class="col-md-12">
              <!-- Product design start -->
              <div class="product_lists">
                <div class="product_image">
                  <img src="{% static 'site_image/male.jpg' %}" alt="">
                </div>
                <div class="product_details">
                  <div>Product name</div>
                  <div class="price">
                    <span class="sale_price"><i class="fa fa-inr" aria-hidden="true"></i> 750</span>
                    <span class="original"><i class="fa fa-inr" aria-hidden="true"></i> 750</span>
                  </div>
                  <div class="offer">
                    <span class="percent">35% off</span>
                    <span class="save">Save 758</span>
                  </div>
                  <div class="cart_wishlist">
                    <button type="button" name="button"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                    <button type="button" name="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                  </div>
                </div>
              </div>
              <!-- Product design end -->

              <!-- Product design start -->
              <div class="product_lists">
                <div class="product_image">
                  <img src="{% static 'site_image/male.jpg' %}" alt="">
                </div>
                <div class="product_details">
                  <div>Product name</div>
                  <div class="price">
                    <span class="sale_price"><i class="fa fa-inr" aria-hidden="true"></i> 750</span>
                    <span class="original"><i class="fa fa-inr" aria-hidden="true"></i> 750</span>
                  </div>
                  <div class="offer">
                    <span class="percent">35% off</span>
                    <span class="save">Save 758</span>
                  </div>
                  <div class="cart_wishlist">
                    <button type="button" name="button"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                    <button type="button" name="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                  </div>
                </div>
              </div>
              <!-- Product design end -->

              <!-- Product design start -->
              <div class="product_lists">
                <div class="product_image">
                  <img src="{% static 'site_image/male.jpg' %}" alt="">
                </div>
                <div class="product_details">
                  <div>Product name</div>
                  <div class="price">
                    <span class="sale_price"><i class="fa fa-inr" aria-hidden="true"></i> 750</span>
                    <span class="original"><i class="fa fa-inr" aria-hidden="true"></i> 750</span>
                  </div>
                  <div class="offer">
                    <span class="percent">35% off</span>
                    <span class="save">Save 758</span>
                  </div>
                  <div class="cart_wishlist">
                    <button type="button" name="button"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                    <button type="button" name="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                  </div>
                </div>
              </div>
              <!-- Product design end -->


            </div>
            </div>
          </div>
        </div>
      <!-- Related Product -->

      <!-- Pet Product -->
      <div class="pet_product">
        <img src="{% static '/site_image/unnamed.png' %}" alt="">
      </div>
      <!-- /Pet Product -->

    </div>
  </div>
</div>
{% endblock %}
