.banner
{
  width: 100%;
  height: 300px;
  margin-bottom: 5px;
  /* height: 450px; */
  background-color: #ebecec;
  /* overflow: hidden; */
  float: left;
}

.banner_category_div
{
  width: 14%;
  height: 252px;
  float: left;
  padding-right: 10px;
}

.banner_category
{
  width: 100%;
  background-color: #e4e2e2;
  box-shadow: 0px 4px 10px black;
}

.banner_category > ul
{
  list-style: none;
  padding: 0px;
}

.banner_category > ul > a
{
  color: black;
  text-decoration: none;
}

.banner_category > ul > a:hover
{
  color: #f34c4f;
  font-weight: 600;
}

.banner_category > ul > a > li
{
  /* padding: 12px 2px; */
  padding: 13px 2px;
  border-bottom: 2px solid black;
  /* transition: border 1s ease; */
  position: relative;
  text-align: center;
}

.banner_category > ul > a > li::after
{
  content: "";
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #f34c4f;
  transition: width 1s ease;
}

/* .banner_category > ul > a > li:hover
{
  border-bottom: 2px solid #f34c4f;
} */

.banner_category > ul > a > li:hover::after
{
  width: 100%;
  border-bottom: 2px solid #f34c4f;
  transition: width 1s ease;
}

.banner_category .active
{
  border-bottom: 2px solid #f34c4f;
  color: #f34c4f;
  font-weight: 600;
}

/* Banner section */
.banner_image_div
{
    width: 72%;
    float: left;
}

.banner_image
{
  width: 100%;
  height: 300px;
  background-color: #984d4d;
}

.banner_image > img
{
  width: 100%;
  height: 100%;
}

#womens_fashion_image,
#baby_kid_fashion_image,
#mobile_image,
#electronic_image,
#office_appliance_image
{
  display: none;
}


/* Right side INDIAN HAAT */
.banner_indian_haat_div
{
  width: 13%;
  height: 300px;
  float: right;
}

.indian_haat
{
  width: 100%;
  height: 100%;
  background: gray;
  float: left;
}

.indian_haat > img
{
  width: 100%;
  height: 100%;
  box-shadow: -2px 5px 7px black;
}

/* OUR FACILITY */
.our_facility
{
  width: 100%;
  height: auto;
  /* background-color: #c2c5c5; */
  border-top: 2px solid #777272;
  border-bottom: 2px solid #777272;
  /* margin-top: 20px; */
  padding: 7px 0px;
  float: left;
}

.our_facility a
{
  color: inherit;
  text-decoration: none;
}

.facility_tab
{
  width: 100%;
  height: 62px;
  border: 2px solid #c5bfbf;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all 1s;
}

.facility_tab:hover
{
  box-shadow: 0px 0px 6px 1px #131212;
  transform: scale(1.05);
  transition: all 0.8s;
}

.logo
{
  float: left;
  margin: 0px 10px;
  width: 30%;
}

/* .logo > i
{
  font-size: 20px;
} */

.logo img
{
  /* width: 62%; */
  width: 100%;
}

.text
{
  float: left;
  text-align: left;
  margin: 2px;
  width: 100%;
  text-align: center;
  font-weight: 600;
}

.text span
{
  font-size: 12px;
  text-align: center;
}


/* ************************************************************************************************************ */
/* **********************    Full New Design Started (21-Sep-2020) By SD.  ************************************ */
/* ************************************************************************************************************ */


/* *******************************      Ecclusive category div   ******************************************** */
.exclusive_category_div{
  width: 100%;
  min-height: 100px;
  padding: 10px 0px;
  margin-bottom: 14px;
  height: auto;
  float: left;
}

.exclusive_category_div h1{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  display: inline;
}

.exclusive_category_div .view_all a{
  font-size: 15px;
  text-decoration: none;
  padding-left: 12px;
}

.exclusive_category_div .product_category_arrow{
  width: 98%;
  height: 97%;
}

.exclusive_category_div .left_arrow,
.exclusive_category_div .right_arrow{
  position: absolute;
  /* height: 60%; */
  height: 117px;
  margin-top: 20px;
  background-color: #e4e0e0d6;
  display: flex;
  align-items: center;
  font-size: 63px;
  cursor: pointer;
  opacity: 0;
  z-index: 10;
  transition: 4s;
}

.exclusive_category_div:hover .left_arrow,
.exclusive_category_div:hover .right_arrow{
  opacity: 1;
  transition: 4s;
}

.exclusive_category_div .left_arrow{
  left: 15px;
  padding: 0px 12px 0px 2px;
  float: left;
}

.exclusive_category_div .right_arrow{
  right: 15px;
  padding: 0px 2px 0px 12px;
  float: right;
}

.exclusive_category_div .product_section{
  width: 100%;
  min-height: 174px;
  background-color: white;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 5px;
  scrollbar-color: #a7a7a7 #C2D2E4;
  scrollbar-width: thin;
  scrollbar-border-radius: 10px;
  scroll-behavior: smooth;
}

.exclusive_category_div .product_section::-webkit-scrollbar{
  height: 8px;
}

/* .exclusive_category_div .product_section::-webkit-scrollbar-track-piece  {
    background-color: #C2D2E4;
} */

.exclusive_category_div .product_section::-webkit-scrollbar-track  {
  /* background-color: #C2D2E4; */
}

.exclusive_category_div .product_section::-webkit-scrollbar-thumb{
  /* height: 20px; */
  background-color: #a7a7a7; /* #0A4C95 */
  border-radius: 10px;
}

/* .exclusive_category_div .product_section::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #0A4C95;
} */

.exclusive_category_div ul{
  padding: 0px;
  margin: 0px;
}

.exclusive_category_div ul li{
  display: inline-block;
}

.exclusive_category_div ul li a{
  text-decoration: none;
  color: inherit;
}

.exclusive_category_div ul li .category_blog_design{
  margin-right: 10px;
}

.exclusive_category_div ul li .category_blog_design .category_image{
  width: 250px;
  height: 150px;
  border: 1px solid black;
}

.exclusive_category_div ul li .category_blog_design .category_image img{
  width: 100%;
  height: 100%;
}

.exclusive_category_div ul li .category_blog_design .category_title{
  text-transform: capitalize;
  text-align: center;
  font-weight: 800;
}


/* *******************************      Ecclusive category div End  ******************************************** */

/* *********************************      Weekly dreals  *********************************************** */
.exclusive_category_div .timmer{
  color: red;
  padding: 0px 10px;
  font-size: 25px;
}

#weekly_dreals_product_section li{
  position: relative;
}

#weekly_dreals_product_section li .product_best_seller{
  position: absolute;
    z-index: 2;
    background-color: green;
    padding: 0px 7px;
    top: 7px;
    left: -2px;
    color: white;
    font-weight: 800;
    font-size: 14px;
}

#weekly_dreals_product_section li .product_wish_list_icon{
  position: absolute;
  z-index: 1;
  right: 13px;
  top: 6px;
}

#weekly_dreals_product_section li .product_wish_list_icon i{
  font-size: 23px;
}

#weekly_dreals_product_section li .wish_list_active{
  color: red;
}

.exclusive_category_div .product_design_div{
  margin-right: 6px;
}

.exclusive_category_div .weekly_dreals_left_arrow,
.exclusive_category_div .weekly_dreals_right_arrow{
  margin-top: 102px;
}

.exclusive_category_div .product_design_div .product_image{
  /* width: 208px;
  height: 242px; */
  width: 165px;
  height: 230px;
  position: relative;
}

.exclusive_category_div .product_design_div .product_image img{
  width: 100%;
  height: 100%;
}

.exclusive_category_div .product_design_div .product_description{
  padding: 0px 3px;
}

.exclusive_category_div .product_design_div .product_description .product_title{
  font-weight: 800;
}

.exclusive_category_div .product_design_div .product_description .product_view_rating > .product_rating{
  /* width: 50%; */
  float: left;
}

.exclusive_category_div .product_design_div .product_description .product_view_rating > .product_rating .rating_text{
  background-color: #247b00;
  padding: 1px 4px;
  font-weight: 800;
  color: white;
}

.exclusive_category_div .product_design_div .product_description .product_view_rating > .product_rating .rating_text i{
  font-size: 10px;
}

.exclusive_category_div .product_design_div .product_description .product_view_rating > .viewer{
  /* width: 50%; */
  /* text-align: right; */
  /* float: right; */
  float: left;
  color: #656565;
}

.exclusive_category_div .product_design_div .product_description .product_pricing{
  width: 100%;
  /* float: left; */
}

.exclusive_category_div .product_design_div .product_description .product_pricing .pricing{
  width: 50%;
  font-weight: 800;
  color: #656565;
  float: left;
}

.exclusive_category_div .product_design_div .product_description .product_pricing .pricing > .original_price{
  text-decoration: line-through;
  font-weight: 200;
}

.exclusive_category_div .product_design_div .product_description .product_pricing .discount{
  width: 50%;
  float: right;
  color: green;
  font-weight: 600;
  text-align: center;
}

.exclusive_category_div .product_design_div .product_description .total_save_price{
  width: 100%;
}

.exclusive_category_div .product_design_div .product_description .total_save_price .save_amount,
.exclusive_category_div .product_design_div .product_description .total_save_price .save_percent{
  width: 50%;
  font-size: 14px;
  float: left;
}

.exclusive_category_div .product_design_div .product_description .total_save_price .save_percent span{
  color: green;
  font-weight: 600;
}
/* *******************************      Weekly dreals End  ******************************************** */

/* *******************************      Featured Category Start  ******************************************** */
#fetured_category_section{
  background-color: transparent;
  padding: 0px;
}

.featured_category_left_arrow,
.featured_category_right_arrow{
  margin-top: 156px !important;
}

.exclusive_category_div .featured_category_main_box{
  width: 355px;
  height: 400px;
  background-color: white;
  padding: 10px 0px;
  margin-right: 10px;
}

.exclusive_category_div .featured_category_main_box .featured_category_main_title{
  width: 100%;
  background-color: var(--theme-btn-bg-color);
  color: white;
  float: left;
}

.exclusive_category_div .featured_category_main_box .featured_category_main_title span{
  width: 100%;
  font-size: 29px;
  padding: 5px 0px;
  text-align: center;
  text-transform: capitalize;
  float: left;
}

.exclusive_category_div .featured_category_main_box .featured_categorys_div{
  /* background-color: red; */
  width: 100%;
  padding: 8px 5px;
  float: left;
}

.exclusive_category_div .featured_category_main_box .featured_categorys_div .single_category{
  width: 110px;
  height: 165px;
  /* border: 1px solid red; */
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
  position: relative;
}

.exclusive_category_div .featured_category_main_box .featured_categorys_div .single_category .view_all_div{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  text-transform: capitalize;
}

.exclusive_category_div .featured_category_main_box .featured_categorys_div .single_category .single_category_title{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 3px 4px;
  background-color: #efefef94;
  text-align: center;
  opacity: 0;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.7s;
}

.exclusive_category_div .featured_category_main_box .featured_categorys_div .single_category:hover .single_category_title{
  opacity: 1;
  transition: 0.7s;
}

.exclusive_category_div .featured_category_main_box .featured_categorys_div .single_category img{
  width: 100%;
  height: 100%;
}
/* *******************************      Featured Category End  ********************************************* */


/* *******************************      Banner1 End  ********************************************* */
.advatice_banner{
  margin: 20px 0px;
  float: left;
}

.advatice_banner img{
  width: 100%;
}

.advatice_banner .single_advatice_banner{
  width: 100%;
  height: 150px;
}

.advatice_banner .tripel_advatice_banner{
  width: 100%;
  height: 312px;
}

/* .banner_1_img{
  width: 450px;
  height: 276px;
} */
/* *******************************      Banner1 End  ********************************************* */


/* ************************************************************************************************************ */
/* ********************    Full New Design Started (21-Sep-2020) By SD.(End)  ********************************** */
/* ************************************************************************************************************ */





/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------- Responsive desing Start ------------------------------------------- */
@media only screen and (max-width: 768px) {
  .banner_image_div{
    width: 100%;
  }
}
/* ----------------------------------- Responsive desing Stop ------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */
