.login_form_section{
  justify-content: center;
  display: flex;
}

.login_form_div{
  width: 50%;
  /* box-shadow: 0px 0px 8px var(--theme-btn-bg-color); */
  /* border: 1px solid var(--theme-btn-bg-color); */
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px 20px;
  text-align: center;
  border-radius: 7px;
}

.login_form_div > h4{
  text-transform: capitalize;
  color: var(--theme-btn-bg-color);
}

.login_form{
  width: 100%;
  padding: 5px 70px;
  /* background: red; */
}



.login_form form{
  margin-top: 30px;
}

.login_form .input-group-text{
  background-color: transparent;
}

.login_form form input{
  padding: 12px 8px;
  border-left: 0px;
}

.login_form form input:focus{
  box-shadow: none;
}

.login_form form .signup_btn{
  text-align: center !important;
  background-color: var(--theme-btn-bg-color);
  border-color: var(--theme-btn-border-color);
  margin: 0px;
}

.signup_btn:hover{
  color: white;
  background-color: var(--theme-btn-bg-hover-color);
  border-color: var(--theme-btn-border-hover-color);
}

.policy{
  margin-top: 30px;
  font-size: 14px;
}

.already_acc{
  margin-bottom: 30px;
}

.login_form div a{
  color: var(--theme-btn-bg-color);
  text-decoration: none;
}

.login_form div a:hover{
  color: var(--theme-btn-bg-hover-color);
  text-decoration: none;
}
